/*  
	Color palette
	Last Edited: 6/16/17
	By: Michael Stevens
*/
/*  
	Typography Rules
	Last Edited: 6/16/17
	By: Michael Stevens
*/
/* 	
	Containers
	Last Edited: 6/26/17
	By: Michael Stevens
*/
html, body { background: #fff; color: #000; }

.composer p { max-width: 800px; }
.composer--aside { background: #ddd; bottom: 0; left: 0; position: fixed; top: 0; width: 280px; }
.composer--aside a { border-bottom: solid 1px #fff; color: #000; display: block; padding: 8px 20px; }
.composer--body { padding-left: 280px; }
.composer--headline { font-size: 30px; line-height: 36px; letter-spacing: -0.45px; text-rendering: optimizeLegibility; word-wrap: normal; font-weight: 700; }
.composer--navigation { float: right; }
.composer--main { margin: 0 auto; max-width: 1200px; padding: 40px 80px; outline: solid 1px red; }
.composer--pre { background: #f2f2f2; border-left: solid 4px #e80a89; margin-bottom: 12px; padding: 8px 12px; }
.composer--pre:focus { outline: solid 1px #e80a89; }
.composer--sample { background: #181818; margin-bottom: 12px; padding: 20px; }
.composer--section { margin: 40px 0; }
.composer--subheader { font-size: 18px; line-height: 24px; letter-spacing: 0; text-rendering: optimizeLegibility; word-wrap: normal; font-weight: 700; }
.composer--table { border: solid 1px #ddd; border-collapse: collapse; empty-cells: show; margin: 20px 0; width: 100%; }
.composer--table tbody tr { border-bottom: solid 1px #ddd; }
.composer--table tbody tr:nth-child(even) { background: #f2f2f2; }
.composer--table tbody td { font-size: 14px; line-height: 20px; letter-spacing: 0; text-rendering: optimizeLegibility; word-wrap: normal; padding: 8px; vertical-align: top; }
.composer--table thead th { font-size: 14px; line-height: 20px; letter-spacing: 0; text-rendering: optimizeLegibility; word-wrap: normal; font-weight: 700; background: #f2f2f2; border-bottom: solid 1px #ddd; padding: 8px; text-align: left; }
